%nav.navbar.navbar-inverse.hidden-print#top-bar
  .container-fluid
    .navbar-header
      .navbar-brand
        = link_to root_path do
          = image_tag 'logo.png', alt: t('app.company.short_name')
          = t('app.name')
      
